<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>khanhnhq.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoadAllCarServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.LoadAllCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.UserVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDateServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.SearchByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.LoadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHistoryServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.LoadHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameHistoryServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.SearchNameHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDateHistoryServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.SearchDateHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutUserServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.LogOutUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarToCartServlet</servlet-name>
        <servlet-class>khanhnhq.servlet.AddCarToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAllCarServlet</servlet-name>
        <url-pattern>/LoadAllCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyServlet</servlet-name>
        <url-pattern>/UserVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDateServlet</servlet-name>
        <url-pattern>/SearchByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserServlet</servlet-name>
        <url-pattern>/LoadUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHistoryServlet</servlet-name>
        <url-pattern>/LoadHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameHistoryServlet</servlet-name>
        <url-pattern>/SearchNameHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDateHistoryServlet</servlet-name>
        <url-pattern>/SearchDateHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutUserServlet</servlet-name>
        <url-pattern>/LogOutUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarToCartServlet</servlet-name>
        <url-pattern>/AddCarToCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            40
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>CarRental</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
